# Answers of 01_Introduction

In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [101]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [102]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

## 2. Records count

In [103]:
number_of_records = len(df)
number_of_records

2160

## Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [104]:
df['Brand'].nunique()

27

## Q4. Missing values
How many columns in the dataset have missing values?

In [105]:
missing_values_series = df.isnull().sum()
missing_values_np = missing_values_series.values
num_of_miss_value_cols = len(np.where(missing_values_np != 0)[0])
num_of_miss_value_cols

3

## Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [106]:
filtered_data = df[df['Brand'] == 'Dell']
max_price_Dell = filtered_data['Final Price'].max()
max_price_Dell

np.float64(3936.0)

## Q6. Median value of Screen

Find the median value of Screen column in the dataset.

In [107]:
df['Screen'].median()

np.float64(15.6)

Next, calculate the most frequent value of the same Screen column.

In [108]:
# most_frequent_value = df['Screen'].value_counts().idxmax()
most_frequent_value = df['Screen'].mode().values[0]

Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [109]:
df['Screen'] = df['Screen'].fillna(most_frequent_value)

Now, calculate the median value of Screen once again.

In [110]:
df['Screen'].median()

np.float64(15.6)

## Q7. Sum of weights

Select all the "Innjoo" laptops from the dataset

In [111]:
Innjoo_laptops = df[df['Brand'] == 'Innjoo']
Innjoo_laptops

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

Select only columns RAM, Storage, Screen.

In [112]:
Innjoo_laptops[['RAM', 'Storage', 'Screen']]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [113]:
X =  Innjoo_laptops[['RAM', 'Storage', 'Screen']].values
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [114]:
XTX = np.dot(X.T, X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [115]:
inv_XTX = np.linalg.inv(XTX)

In [116]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [117]:
w = inv_XTX .dot(X.T).dot(y)
print(f'Weights vector', w)
print(f'Sum of all weights', w.sum())

Weights vector [45.58076606  0.42783519 45.29127938]
Sum of all weights 91.2998806299555